.telaInicial {
/*z-index: 1;*/
margin: 0;
width: 100%;
position: relative;
background: radial-gradient(50% 50% at 50% 50%, #1a0043, #130031);
height: 568px;
overflow: hidden;
display: flex;
flex-direction: column;
gap: 10px;
text-align: center;
font-size: 26px;
color: #fff;
font-family: 'Kdam Thmor Pro';
align-items: center;
}

.telaInicial-layoutDivs {
position: absolute;
top: 0px;
left: 0px;
display: flex;
align-items: center;
justify-content: center;
width: 318.5px;
}